* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #29292e;
  color: #f8f8f8;
  font-family: 'Poppins', sans-serif;
}

#container {
  header {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      margin: 80px 0 20px 0;
      font-weight: 500;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}